<% 
    require 'erb'
    require 'uri'

    # We could use Mail.random_tag for this instead of a static string.
    boundary = "00112233445566778899AABBCCDD"

    state_time = Time.at(LASTHOSTSTATECHANGE.to_i)
    # LONGHOSTOUTPUT has escaped newlines, so fix those.
    output = [HOSTOUTPUT, LONGHOSTOUTPUT.split("\\n")].flatten.join("\n")
%>
To: <%= recipient.user %>
Subject: <%= NOTIFICATIONTYPE %>: <%= HOSTALIAS %> is <%= HOSTSTATE %> (id: <%= LASTHOSTSTATECHANGE %>)
Mime-Version: 1.0
Content-Type: multipart/alternative; boundary=<%= boundary %>

--<%= boundary %>
Content-Type: text/plain; charset=utf-8

Date/Time: <%= LONGDATETIME %>
Notification Type: <%= NOTIFICATIONTYPE %>
Host: <%= HOSTALIAS %> / <%= HOSTADDRESS %>
State: <%= HOSTSTATE %>
Attempt: <%= HOSTATTEMPT %> of <%= MAXHOSTATTEMPTS %>
Age in <%= HOSTSTATE %>: <%= Time.now - state_time %> seconds (since <%= state_time %>)

Check output:
<%= output %>

--<%= boundary %>
Content-Type: text/html; charset=utf-8

<h3> Nagios Message </h3>

<b>Date/Time: </b> <%= LONGDATETIME %> <br>
<b>Host: </b> <%= HOSTALIAS %> / <%= HOSTADDRESS %> <br>
<b>Notification Type: </b> <%= NOTIFICATIONTYPE %> <br>
<b>State: </b> <%= HOSTSTATE %> <br>
<b>Attempt: </b> <%= HOSTATTEMPT %> of <%= MAXHOSTATTEMPTS %> <br>
<b>Age in <%= HOSTSTATE %>: </b> <%= Time.now - state_time %> seconds (since <%= state_time %>)

<h3> Actions </h3>

<% summary = "Host Alert: " + URI.escape(HOSTALIAS) %> 
<% description = URI.escape("
* Date/Time:  #{LONGDATETIME}
* Notification Type:  #{NOTIFICATIONTYPE}
* State:  #{HOSTSTATE}
* Host:  #{HOSTALIAS} / #{HOSTADDRESS}

Check output:
{noformat}
#{output}
{noformat}
  ")
  %>

<h3> Check Output </h3>

<pre style="border: 1px solid black; background-color: #E3ECED; padding: 1em; margin: 1em;">
<%= ERB::Util::h(output) %>
</pre>

--<%= boundary %>--
